#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
  #components-form-demo-normal-login .login-form-forgot {
  float: right;
}
  #components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
  #components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.hero-section {
  background-image: url('../src/images/RealBanner1.jpg');
  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff; 
  margin-bottom: 10px;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-content button {
  font-size: 16px;
  border-radius: 25px;
}